#ot_consent {
	background-color:$background_color_consent;
	color:$text_color_consent;
}

#ot_consent div {
	display: inline-block;
	background-color:$background_color_consent_agree;
	padding: 1em;
	border: 1px solid $background_color_consent_agree_border;
}

#ot_consent label {
	margin-left: 1em;
	color:$text_color_consent_button;
	background-color:$background_color_consent_button;
	padding: 0.25em 1em;
	border: 2px solid $background_color_consent_button_border;
	border-radius: 5px;
}

#ot_consent label:hover {
	cursor: pointer;
}