#ot_consent {
	background-color:$background_color_consent;
	color:$text_color_consent;
	padding: 1em;
	text-align: center;
}

#ot_consent span {
	display: inline-block;
	font-size: 14px;
	margin-right: 1em;
}

#ot_consent label {
	display: inline-block;
	text-align: center;
	color:$text_color_consent_button;
	background-color:$background_color_consent_button;
	padding: 0.25em 1em;

}

#ot_consent label:hover {
	cursor: pointer;
}

#ot_consent a {
	color: $link_color_consent;
}