html {
	line-height: 1.5;
	font-family:$font_family;
	font-size: 16px;
	@include breakpoint(desktop) {
		font-size: 20px;
	}
	@include breakpoint(laptop) {
		font-size: 20px;
	}
	@include breakpoint(tablet) {
		font-size: 20px;
	}
	@include breakpoint(phablet) {
		font-size: 20px;
	}
	@include breakpoint(mobileonly) {
		font-size: 16px;
	}  	
	
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $link_color;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: $text_color_main_heading;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: $text_color_main_strong;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

#TableOfContents > ul, #TableOfContents > ul > li {
display:inline;
}

/* Pagination */
ul.pagination {
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
  li.page-item {
    display: inline-block;
	border: 1px solid #000;
    a {
      padding: 0.05em 0.5em;
    }
    &.active {
      a {
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: $font_family_code;
  background-color: $background_color_code;
  
}
code {
  padding: .25em .5em;
  font-size: 85%;
  border-radius: 3px;
  color: $text_color_inline_code;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  color: $text_color_code;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: $text_color_code;  
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
  word-break: break-word;
}

td:nth-child(1),
th:nth-child(1) {
  word-break: inherit;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
