/*********************
VARIABLES
*********************/

$background_color_body: {{ .Site.Params.ot_background_color_body | default "#fff" }};
$background_color_logo: {{ .Site.Params.ot_background_color_logo | default "#202020" }};
$background_color_breadcrumb: {{ .Site.Params.ot_background_color_breadcrumb | default "#fff" }};
$background_color_search: {{ .Site.Params.ot_background_color_search | default "#fff" }};
$background_color_nav: {{ .Site.Params.ot_background_color_nav | default "#202020" }};
$background_color_main: {{ .Site.Params.ot_background_color_main | default "#fff" }};
$background_color_teaser: {{ .Site.Params.ot_background_color_teaser | default "#fff" }};
$background_color_sidebar: {{ .Site.Params.ot_background_color_sidebar | default "#fff" }};
$background_color_footer: {{ .Site.Params.ot_background_color_footer | default "#202020" }};
$background_color_consent: {{ .Site.Params.ot_background_color_consent | default "#202020" }};

$background_color_consent_button: {{ .Site.Params.ot_background_color_consent_button | default "#548330" }};

$background_color_code: {{ .Site.Params.ot_background_color_code | default "#f9f9f9" }};
$background_color_figcaption: {{ .Site.Params.ot_background_color_figcaption | default "#f9f9f9" }};

$text_color_body: {{ .Site.Params.ot_text_color_body | default "#515151" }};
$text_color_logo: {{ .Site.Params.ot_text_color_logo | default "#ffffff" }};
$text_color_breadcrumb: {{ .Site.Params.ot_text_color_breadcrumb | default "#515151" }};
$text_color_search: {{ .Site.Params.ot_text_color_search | default "#515151" }};
$text_color_nav: {{ .Site.Params.ot_text_color_nav | default "#ffffff" }};
$text_color_main: {{ .Site.Params.ot_text_color_main | default "#515151" }};
$text_color_main_heading: {{ .Site.Params.ot_text_color_main_heading | default "#313131" }};
$text_color_main_strong: {{ .Site.Params.ot_text_color_main_strong | default "#303030" }};

$text_color_teaser: {{ .Site.Params.ot_text_color_teaser | default "#515151" }};
$text_color_sidebar: {{ .Site.Params.ot_text_color_sidebar | default "#515151" }};
$text_color_footer: {{ .Site.Params.ot_text_color_footer | default "#ffffff" }};
$text_color_consent: {{ .Site.Params.ot_text_color_consent | default "#ffffff" }};
$text_color_consent_button: {{ .Site.Params.ot_text_color_consent_button | default "#ffffff" }};

$text_color_code: {{ .Site.Params.ot_text_color_code | default "#000" }};
$text_color_inline_code: {{ .Site.Params.ot_text_color_inline_code | default "#BF3B48" }};

$link_color: {{ .Site.Params.ot_link_color | default "#1C77BE" }};
$link_color_logo: {{ .Site.Params.ot_link_color_logo | default "#fff" }};
$link_color_nav: {{ .Site.Params.ot_link_color_nav | default "#fff" }};
$link_color_footer: {{ .Site.Params.ot_link_color_footer | default "#fff" }};
$link_color_consent: {{ .Site.Params.ot_link_color_consent | default "#1D8BDE" }};

$font_family: {{ .Site.Params.ot_font_family | default "\"PT Sans\", Helvetica, Arial, sans-serif" }};
$font_family_code: {{ .Site.Params.ot_font_family_code | default "Menlo, Monaco, \"Courier New\", monospace" }};


/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
	@if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) and (max-width: 56.25em)  { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 56.25em) and (max-width: 75em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 75em) and (max-width: 112.5em) { @content ; }
	}
	@else if $point == desktop {
		@media (min-width: 112.5em) { @content ; }
	}
}

/*********************
Imports
*********************/

@import "normalize";

@import "grid";

@import "typography";

@import "logo.scss";
@import "breadcrumb.scss";
@import "search.scss";

@import "nav.scss";

@import "main.scss";
@import "teaser.scss";
@import "sidebar.scss";
@import "footer.scss";

@import "consent.scss";
