{{- if or (in .Params.ot_schema_org "Person") }}
{{ $data := dict }}
{{ with resources.Get "data/schema-org-Person.json" }}
{{ with . | transform.Unmarshal }}
{{ $data = . }}
<script type="application/ld+json">{{ $data }}</script>
{{ end }}
{{ end }}
{{ end -}}
{{- if or (in .Params.ot_schema_org "Organization") }}
{{ $data := dict }}
{{ with resources.Get "data/schema-org-Organization.json" }}
{{ with . | transform.Unmarshal }}
{{ $data = . }}
<script type="application/ld+json">{{ $data }}</script>
{{ end }}
{{ end }}
{{ end -}}
{{- if or (in .Params.ot_schema_org "LodgingBusiness") }}
{{ $data := dict }}
{{ with resources.Get "data/schema-org-LodgingBusiness.json" }}
{{ with . | transform.Unmarshal }}
{{ $data = . }}
<script type="application/ld+json">{{ $data }}</script>
{{ end }}
{{ end }}
{{ end -}}