{{- if or (in .Params.ot_schema_org "Person") }}
{{ with resources.Get "data/schema-org-Person.json" }}
<script type="application/ld+json">{{- transform.Remarshal "json" . | safeJS -}}</script>
{{ end }}
{{ end -}}
{{- if or (in .Params.ot_schema_org "Organization") }}
{{ with resources.Get "data/schema-org-Organization.json" }}
<script type="application/ld+json">{{- transform.Remarshal "json" . | safeJS -}}</script>
{{ end }}
{{ end -}}
{{- if or (in .Params.ot_schema_org "LodgingBusiness") }}
{{ with resources.Get "data/schema-org-LodgingBusiness.json" }}
<script type="application/ld+json">{{- transform.Remarshal "json" . | safeJS -}}</script>
{{ end }}
{{ end -}}
