{{ define "main" }}
	<!-- pulls data from the markdown content of the corresponding _index.md and display it at the top -->
	<h1>{{ .Title }}</h1>
	{{ if eq .Params.ot_showdate true }}
	<span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
	{{ end }}	
	{{ if and (gt .WordCount 400 ) (ne .Params.ot_showtoc false) }}
	{{.TableOfContents}}
	{{ end }}
	{{ .Content }}
	<!-- range through corresponding content and list it -->
	<ul>
	{{ range .Pages }}
		<li>
			<a href="{{.Permalink}}">{{.Title}}</a>
		</li>
	{{ end }}
	</ul> 
{{ end }}