{{ $path := split .URL "/" }}
<ul itemscope itemtype="http://schema.org/BreadcrumbList">
	<!-- Show site title as root element-->
	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">{{ .Site.Title }}</span><span itemprop="position" content="1"></span></a></li>
	<!-- Show subsections -->
  	{{ partial "breadcrumbs_recursive.html" (dict "sections" .Site.Home.Sections "level" 1 "path" $path "dir" .URL) }}
	<!-- Show "Home" on homepage, otherwise the page title -->
	{{ if eq .Kind "home" }}
		<li>{{ i18n "home" }}</li>
	{{ else }}
		<li>{{ .Title }}</li>
	{{ end }}
</ul>
