{{ $level := 1 }}
<ul itemscope itemtype="http://schema.org/BreadcrumbList">
	<!-- Show site title as root element -->
	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ "/" | absLangURL }}"><span itemprop="name">{{ .Site.Title }}</span><span itemprop="position" content="1"></span></a></li>
	<!-- Show Categories -->
	{{- range $taxonomy, $value := $.Site.Taxonomies -}}
		<!-- Only use taxonomies specifided in ot_breadcrumb_taxonomies -->
		{{ range $bt := $.Site.Params.ot_breadcrumb_taxonomies }} 
			{{ if eq $bt $taxonomy }}
				{{- range $index, $category := $.Param $taxonomy -}}
					{{- $url := (printf "%s/%s" ($taxonomy | relURL) (. | urlize)) -}}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ $url | absLangURL}}/"><span itemprop="name">{{ with ($.Site.GetPage $url) }}{{ .Title }}{{ end }}</span><span itemprop="position" content="{{ add $level 1 }}"></span></a></li>
				{{- end -}}
			{{- end -}}
		{{- end -}}
		<!-- Use all taxonomies if ot_breadcrumb_taxonomies is not set -->
		{{ if (not $.Site.Params.ot_breadcrumb_taxonomies) }} 
				{{- range $index, $category := $.Param $taxonomy -}}
					{{- $url := (printf "%s/%s" ($taxonomy | relURL) (. | urlize)) -}}
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ $url | absLangURL}}/"><span itemprop="name">{{ with ($.Site.GetPage $url) }}{{ .Title }}{{ end }}</span><span itemprop="position" content="{{ add $level 1 }}"></span></a></li>
				{{- end -}}
		{{- end -}}		
	{{- end -}}
	<!-- Show "Home" on homepage, otherwise the page title; add pagination if needed -->
	{{ if eq .Kind "home" -}}
		{{ if (and .Paginator (gt .Paginator.PageNumber 1))}}
			<li>{{ T "page" }} {{ .Paginator.PageNumber }}</li>
		{{ else }}
			<li>{{ i18n "home" }}</li>
		{{ end }}
	{{- else -}}
		{{ if (eq .Kind "taxonomy") }}
			{{ if (and .Paginator (gt .Paginator.PageNumber 1))}}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ .Paginator.First.URL }}"><span itemprop="name">{{ .Title }}</span><span itemprop="position" content="{{ add $level 1 }}"></span></a></li>
				<li>{{ T "page" }} {{ .Paginator.PageNumber }}</li>
			{{ else }}
				<li>{{ .Title }}</li>
			{{ end }}
		{{ else }}
			<li>{{ .Title }}</li>
		{{ end }}			
	{{- end }}
</ul>