<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
	<!-- create paginatior if possible and use it for title, description, proper rel canonical, prev and next -->
	{{ if and .IsNode (ne .Params.ot_showlist false) }}{{ $paginator := .Paginate (where .Pages ".Params.ot_showinlist" "ne" false) }}{{end}}
	<title>
		{{- if .Params.ot_seo_title -}}{{.Params.ot_seo_title}}{{- else if .Title -}}{{ .Title }}{{- else -}}{{ .Site.Title }}{{- end -}}
		{{ if and .IsNode (ne .Params.ot_showlist false) }}{{if gt .Paginator.PageNumber 1 }} - {{ T "page" }} {{ .Paginator.PageNumber }}{{ end }}{{ end }}
	</title>
	<meta name="description" content="{{- if .Params.ot_meta_description -}}{{ .Params.ot_meta_description }}{{- else -}}{{ .Description }}{{- end -}}{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} - {{ T "page" }} {{ .Paginator.PageNumber }}{{ end }}{{ end }}" />
	<meta name="robots" content="{{- with .Params.ot_meta_robots }}{{ . }}{{ else }}index,follow{{ end -}}">
	{{ if .IsNode }}
		{{ if (ne .Params.ot_showlist false) }}
			{{if .Paginator }}
			<link rel="canonical" href="{{ .Paginator.URL }}">{{ if .Paginator.HasPrev }}<link rel="prev" href="{{ .Paginator.Prev.URL }}" />{{end}}{{ if .Paginator.HasNext }}<link rel="next" href="{{ .Paginator.Next.URL }}" />{{end}}
			{{ end }}
		{{ else }}
			<link rel="canonical" href="{{ .Permalink }}">
		{{ end }}
	{{ else }}
		<link rel="canonical" href="{{ .Permalink }}">
	{{ end }}
	{{ with resources.Get "scss/layout.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify }}<style>{{ .Content | safeCSS }}</style>{{ end }}
	{{ range .AlternativeOutputFormats -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}{{ end -}}
	{{- with ((.Site.GetPage "home").OutputFormats.Get "manifest") }}<link rel="manifest" href="{{ .Permalink }}">{{- end }}
	{{ if .Site.Params.ot_theme_color }}<meta name="theme-color" content="{{ .Site.Params.ot_theme_color}}">{{end}}	
	<link rel="icon" href="{{ .Site.BaseURL }}{{ if .Params.ot_favicon }}{{ .Params.ot_favicon }}{{ else }}favicon.png{{ end }}">
	<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}{{ if .Params.ot_apple_touch_icon }}{{ .Params.ot_apple_touch_icon }}{{ else }}appicons/apple-touch-icon-180x180.png{{ end }}">
	{{ template "google_analytics_async.html" . }}
	{{ partial "schema-org/schema.html" . }}
	{{ partial "async_page_level_ads.html" . }}
</head>