<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
	<title>{{- if .Params.ot_seo_title -}}{{.Params.ot_seo_title}}{{- else if .Title -}}{{ .Title }}{{- else -}}{{ .Site.Title }}{{- end -}}</title>
	<meta name="description" content="{{- if .Params.ot_meta_description -}}{{.Params.ot_meta_description}}{{- else -}}{{ .Description }}{{- end -}}" />
	<meta name="robots" content="{{- with .Params.ot_meta_robots }}{{ . }}{{ else }}index,follow{{ end -}}">
	<link rel="canonical" href="{{ .Permalink }}">
	{{ with resources.Get "scss/layout.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify }}<style>{{ .Content | safeCSS }}</style>{{ end }}
	{{ range .AlternativeOutputFormats -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}{{ end -}}
	{{/*<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">*/}}
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ if .Params.ot_favicon }}{{ .Params.ot_favicon }}{{ else }}favicon.png{{ end }}">
	{{ template "_internal/google_analytics_async.html" . }}
	{{ partial "schema-org/schema.html" . }}
</head>
