{{ if and (and .Site.Params.ot_adsense_ad_client .Site.Params.ot_adsense_ad_slot) (ne .Page.Params.ot_showads false) }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="{{.Site.Params.ot_adsense_ad_client}}"
	 data-ad-slot="{{.Site.Params.ot_adsense_ad_slot}}"
	 data-ad-format="rectangle"
	 data-full-width-responsive="false"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}